<%= form_for @pin do |f| %>
<% if @pin.errors.any? %>
<div id="errors">
<h2><%= pluralize(@pin.errors.count, "error") %> prevented this post from saving</h2>
<ul>
<% @pin.errors.full_messages.each do |msg| %>
<li><%= msg %> </li>
<% end %>
</ul>
</div>
<% end %>



<p>

<%= f.text_area :desciption, :size=>"30", placeholder: "Caption ", :maxlength=>"230" %>
</p>

<p>

<%= f.text_field :image_file_name, placeholder: "Image Filename " %>
</p>

<p>
<%= f.submit class: "btn btn-success" %>
</p>
<% end %>