
<div class="panel-heading.pin_image_file_name">
<% if @pin.image_file_name %>
<p><%= image_tag @pin.image_file_name,:styles => { :custom => "100x100>"} %></p>
<% end %>
 <div class="panel-body">
<h1><%= @pin.title %></h1>

<p><%= @pin.desciption %></br></p>

<%= link_to 'Edit', edit_pin_path(@pin),class: "btn btn-default" %>
<%= link_to "Back", root_path, class: "btn btn-default" %>

<%= link_to 'Delete', pin_path(@pin), method: :delete, data: {confirm: 'Are you sure?'} , class: "btn btn-default" %>