<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :name %> :
    <%= f.text_field :name %>
  </div>
   
  <div class="field">
    <%= f.label :email %> :
    <%= f.text_field :email %>
	
  </div>
  <div class="field">
    <%= f.label :password %> :
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %> :
    <%= f.password_field :password_confirmation %>
  </div>
   <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
	 <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
</div>
  <div class="field">
<%= f.label :gender %> :
<%= f.select :gender, [['F'],['M']] %> 
 </div>
 
<div class="field">
<%= f.label :agegroup %>
<%= f.select :agegroup, [['U.14(GF)'], ['U.14(LF)'], ['U.14(H)'], ['U.14(C)'], ['U.16(GF)'], ['U.16(LF)'], ['U.16(H)'], ['U.16(C)'], ['Minor(GF)'], ['Minor(LF)'], ['Minor(H)'], ['Minor(C)'], ['Senior(GF)'], ['Senior(LF)'], ['Senior(H)'], ['Senior(C)']] %>
 </div>
 
  <div class="field">
    <%= f.label :sport_id %> :
    <%= f.collection_select :sport_id, Sport.all, :id, :name %> 
  </div>
  <div class="actions">
    <%= f.submit "Submit your details", class: "btn btn-success" %>
  </div>
<% end %>
<p><b>Note: </b><i>GF = Gaelic Football (Male), LF = Ladies Football, H = Hurling, C = Camogie</i></p>