<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
<br>
<br><br><br><br><br>
<table width="80%" border="1" align="center">
  <tr>
    <td colspan="2" bgcolor="Green">
      <h1><div align="center">Hello <i><%= @coach.name %></i></h1></div>
	  
    </td>
  </tr>
  
  <tr valign="top">
    <td bgcolor="#DCDCDC" width="25%">
     
			<%= image_tag @coach.image.thumb.url, :height=>"200" %>
	</td>

	<td bgcolor="#eee" width="75%" height="200">
		<strong>Name:</strong>
        <%= @coach.name %>
		<br>
		
		<br>
		<strong>Email:</strong>
		<%= @coach.email %>
		<br>
		<br>
		
		<strong>Gender:</strong>
		<%= @coach.gender %>
	
		 
		 <br>
		<br>
		<strong>Agegroup:</strong>
		<%= @coach.agegroup %>
		
		
		
		<br>
		<br>
		<strong>Sport:</strong>
		<%= @coach.sport.name %>
		
		<br>
		<br>
		
    </td>
  </tr>


</table>

<%= link_to 'Edit Profile', edit_coach_path(@coach), class: "btn btn-success" %>







