<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<div id="errors">
<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
<ul>
<% @post.errors.full_messages.each do |msg| %>
<li><%= msg %> </li>
<% end %>
</ul>
</div>
<% end %>
<p>
<%= f.label :heading %><br>
<%= f.text_field :title %>
</p>
<div class = "control-group">
<%= f.label "Status", class: 'control-label' %>
<div class="controls">
<%= f.select(:status_type, options_for_select([['Training', 'Training'], ['Matches', 'Matches'],['Social', 'Social'],])) %>
</div>
</div>

<p>
<%= f.label :description %><br>
<%= f.text_area :body %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>